@import "tailwindcss";

html,
body,
#root {
  min-height: 100vh; 
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    /* padding: 2rem; */
}

/* div {
  padding: 2rem;
} */